<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vansh.resellerprofit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/resellericon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Calendar"
            android:label="Sales-Datewise"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity.Glogin"
            android:label="Google Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.IntroSliderActivity"
            android:label="Introduction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Stock"
            android:label="Stock"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".activity.ContactUs"
            android:label="Contact Us"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="Sign up" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity.PdfCreateActivity"
            android:label="Generate Invoice Pdf"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity.SoldActivity"
            android:label="Sold"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".activity.CalendarActivity"
            android:label="Profit-Datewise"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity.BillSetting"
            android:label="Generate Bill"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".activity.CompanyProfile"
            android:label="Company Profile"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name=".PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>